.container{
    background-color:#48596F; 
    text-align: center;
    margin: 0 auto;
    width: 500px;
    margin-top: 60px;
   border-radius: 6px;

}

.input-group{
    margin-left: 20%;
    margin-right: 20%;
   
}
.list-group{
    border:  #337AB7;
}
.list-group-item{
    background-color:#F8B52E;
    color:#545454;
    border-color: #48596F;
    
}
.btn-dark{
    margin-bottom:20px ;
}
.cross{
    cursor:pointer;
    position: relative;
    float: right;margin-right:10px;
    color:white;
    width: 20px;
    height: 20px;
    background: #EB686F;
    
}
